.manga {
  border: 2px solid #000000;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 30px; 
}

.manga img {
  max-width: 50%;
  height: auto;
  border-radius: 15px;
}

.manga2 {
  border: 2px solid #000000;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 30px; 
}

.manga2 img {
  max-width: 52.7%;
  height: auto;
  border-radius: 15px;
}


.titulo {
  margin-top: 15px;
  text-align: center;
}

.texto{
  text-align: justify;
  padding-left: 25%;
  margin-bottom: auto;
}

